body {
  background-color: salmon;
}

* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

th {
  min-width: 60px;
}

table {
  background-color: white;
}

td {
  border: 1px solid salmon;
  text-align: center;
  height: 50px;
}
